* {
    /*margin: 0;
    padding: 0;*/
    font-family: 'Roboto', sans-serif;
}

p {
    font-style: italic;
}

a {
    background-color: #44803F;
    margin: 5px;
    border-radius: 30px;
    padding: 5px;

}

h1{
    font-family: Helvetica, sans-serif, arial;
    text-align: center;
    background-color: #FFEC5C;
    /**border: solid 5px red;**/
    padding: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
}

h2{
    color: #252524);
    background-color: #B4CF66;
    margin-top: 15px;
}

tr{
    background-color: #B4CF66;
}

/*Comentario CSS*/

td{
    /*background-color: #8b5555;*/
}

img{
    float:center;
}

#colombia{
    background-color: yellow;
}

#main-photo {

}

#ai-photo{
    display: none;
}

#news{
    background-color: #44803F;
    display: flex;
    flex-direction: column-reverse;
}

.news-content {
    background-color: #146152;
}

.odd {
    background-color: #886767;
}

.even {
    background-color: #beadad;
}